extends layout

block content
  h1= title
  p Welcome to #{title}
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each mobile, index in items
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{mobile.mobile_brand} - #{mobile.mobile_color} - $#{mobile.mobile_cost}
  
  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }